  
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  {% if operation %}
    <title>Stats Calc - {{ operation }}</title>
  {% else %}
    <title>Stats-Calc</title>
  {% endif %}
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 5%">
        {% block content %}{% endblock %}
        {% if operation %}
          <hr/>    
          <h6 style='font-size:1.2em'>More calculations:<h6>
          {% for choice in choices %}
            {% if choice != operation %}  
              <a href="/{{ choices[choice] }}" style='font-size:1.3em'>{{ choice }}</a><br>
            {% endif %}
          {% endfor %}
        {% endif %}
        <hr/>
        <a href="https://github.com/helloMusa/Statistics-Calculator" style="font-size:1.5em">Check out the source code!</a>
      </div>
    </div>
  </div>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>