{% extends "index.html" %}
{% block content %}
	<h1>Mode Calculator</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
		{{ form.body.label }} {{ form.body(cols="35", rows="20") }}
        <input type="submit" value="Submit Data"/>
    </form>
    <h3>The {{ operation }} is: {{ result }}</h3>
	<hr/>
    <h6 style='font-size:1.5em'>More calculations:<h6>
	{% for choice in choices %}
		{% if choice != operation %}	
		<a href="/{{ choices[choice] }}" style='font-size:1.3em'>{{ choice }}</a><br>
		{% endif %}
	{% endfor %}
{% endblock content %}
