{% extends "index.html" %}
{% block content %}
	<h1>Z-Score Calculator</h1>
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.x.label }} {{ form.x(cols="35", rows="20") }}<br>
        {{ form.mean.label }} {{ form.mean(cols="35", rows="20") }}<br>
        {{ form.sd.label }} {{ form.sd(cols="35", rows="20") }}<br>
        <input type="submit" value="Submit Data and Argument"/>
    </form>
    <h3>The {{ operation }} is: <mark>{{ result }}</mark></h3>
{% endblock content %}
